{{- $tags := .Site.Taxonomies.tags }}
{{- if gt (len $tags) 0 }}
<div class="widget-taglist widget">
    <h4 class="widget__title">{{ T "tags_title" }}</h4>
    <div class="widget__content">
        {{- /* Sort tags by count (descending) */}}
        {{- range $tags.ByCount }}
        {{- $tagPage := $.Site.GetPage (printf "/tags/%s" .Name) }}
        {{- if $tagPage }}
        <a class="widget-taglist__link widget__link btn" href="{{ $tagPage.RelPermalink }}"
            title="{{ $tagPage.Title }}">
            {{- $tagPage.Title -}}
        </a>
        {{- end }}
        {{- end }}
    </div>
</div>
{{- end }}