/public
/resources
.DS_Store
node_modules
dist
tmp
seo_data/
korrektsiya-zreniya.github.io.code-workspace
missing_seo_report.txt
scripts/scan_missing_seo.py
.ai/korrektsiya-zreniya.net_55ca3e0a624dfef346caf9fa.csv
.ai/2025-02-20_2026-02-20_searchquery.csv
.ai/google_queries_plan_3.md
