<link rel="icon" type="image/png" href="/favicon-96x96.png" sizes="96x96" />
<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
<link rel="shortcut icon" href="/favicon.ico" />
<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
<meta name="apple-mobile-web-app-title" content="MyWebSite" />
<link rel="manifest" href="/site.webmanifest" />

{{ if .IsPage }}
<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "Article",
  "headline": "{{ .Title }}",
  "name": "{{ .Title }}",
  "description": "{{ .Description }}",
  "inLanguage": "ru",
  {{ with .Params.image }}"image": "{{ . | absURL }}",{{ end }}
  "datePublished": "{{ .Date.Format "2006-01-02T15:04:05-07:00" }}",
  {{ with .Lastmod }}"dateModified": "{{ .Format "2006-01-02T15:04:05-07:00" }}",{{ end }}
  "author": {
    "@type": "Organization",
    "name": "Проект \"Коррекция Зрения\""
  },
  "mainEntityOfPage": {
    "@type": "WebPage",
    "@id": "{{ .Permalink }}"
  },
  "publisher": {
    "@type": "Organization",
    "name": "Коррекция Зрения",
    "logo": {
      "@type": "ImageObject",
      "url": "{{ "favicon.svg" | absURL }}"
    }
  }
}
</script>
{{ end }}
