<footer class="footer">
	<div class="container footer__container flex">
		{{ partial "footer_links.html" . }}
		<div class="footer__copyright">

		
			<a href="/soczialnyj-proekt-lazernaya-korrekcziya-zreniya-vsya-pravda/">Независимый социальный проект «{{ default .Site.Title }}» </a>
            <p>Не является медицинской рекомендацией. Проконсультируйтесь с врачом.</p>
		</div>
	</div>
</footer>

<style>

/* .container.container--outer {
  max-width: 976px;
}

.logo {
  background: #e22d30 !important;
  padding: 10px !important;
}

.logo__title {
  color: #ffffff !important;
}

.logo__tagline {
  color: #ffffff !important;
} */

</style>

<script>
window.addEventListener('load', function() {
  var s = document.createElement('script');
  s.src = "/js/sienna.min.js";
  s.setAttribute('data-asw-position', 'bottom-right');
  document.body.appendChild(s);
});
</script>


